table.myAccount-table                                                                                
{                                                             
  border:2px solid red;                                        
  border-collapse: collapse;                        
  text-align: center;    
  width:100%;                                                  
}

table.myAccount-table th
{
  border:2px solid #808080;
  border-collapse: collapse;
  text-align: left;      
}


table.myAccount-table td
{
	border:2px solid #808080;
	border-collapse: collapse;
	text-align: center; 
	padding: 15px;
}

